<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Receitas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list>
      <ion-list-header id='title'class='ion-activatable ripple-parent'>Receitas Cadastradas</ion-list-header>
      <ion-item *ngFor='let recipe of recipes' detail button routerLink='./{{recipe.id}}'>
        <ion-label>
          <h2>{{recipe.name}}</h2>
          <h3>R$ {{recipe.total}}</h3>
          <p>Criada em: {{recipe.creationDate | date:'dd/MM/yyyy'}}</p>
        </ion-label>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
<ion-button expand='block' style='margin: 20px 20px;' routerLink='./new'>
  Cadastrar Receita
</ion-button>
